# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# OS / IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# App output
# =========================
AmThanh_Output/
*.mp3

# =========================
# Logs / temp
# =========================
*.log
*.tmp
